@use "theme";
@use "common";
@use "variable";

#cloudflare_warp {
  @include common.widget-border(
    variable.$bar-widgets-cloudflare_warp-border-radius,
    variable.$bar-widgets-cloudflare_warp-border-enabled,
    variable.$bar-widgets-cloudflare_warp-border-width
  );
}

#cloudflare-warp-popover {
  min-width: 220px;
  padding: 16px;
  border-radius: variable.$radius-2xl;

  #warp-status-box {
    .warp-status-icon {
      font-size: 32px;
    }

    .warp-connected {
      color: theme.$accent-green;
    }

    .warp-disconnected {
      color: theme.$text-disabled;
    }

    #warp-status-label {
      font-size: variable.$font-size-2xl;
      font-weight: 700;
      color: theme.$text-main;
    }

    .warp-mode-text {
      font-size: variable.$font-size-base;
      color: theme.$text-muted;
    }
  }

  #warp-toggle-btn {
    min-height: 36px;
    padding: 0 24px;
    border-radius: variable.$radius-4xl;
    background-color: theme.$accent-blue;
    color: theme.$background-dark;
    font-weight: 700;
    font-size: variable.$font-size-lg;

    &:hover {
      background-color: theme.$accent-lavender;
    }
  }
}
