@use "sass:color";
@use "theme";
@use "common";
@use "variable";

#overview_button {
  @include common.widget_border(
    variable.$bar-widgets-overview-border-radius,
    variable.$bar-widgets-overview-border-enabled,
    variable.$bar-widgets-overview-border-width
  );

  @include common.nerd-icon(
    variable.$bar-widgets-overview-icon_size,
    variable.$bar-widgets-overview-spacing
  );

  #overview-menu {
    padding: 5px;

    #overview-client-box,
    #overview-workspace-bg {
      border-radius: variable.$radius;
      transition: background-color 0.1s ease;
    }

    #overview-client-box {
      background-color: color.mix(theme.$surface-disabled, transparent, 40%);

      #overview-icon {
        margin: common.toEm(5);
        background-color: theme.$general-shadow-color;
        border-color: theme.$surface-disabled;
        border-radius: variable.$radius-3xl;
        border-width: 2px;
        border-style: solid;
        padding: common.toEm(5);
      }

      &:hover {
        background-color: color.mix(theme.$surface-disabled, transparent, 70%);
      }

      &:active {
        background-color: color.mix(theme.$surface-disabled, transparent, 100%);
      }
    }

    #overview-workspace-bg {
      background-color: color.mix(theme.$surface-disabled, transparent, 40%);

      #overview-add-label {
        font-size: 2rem;
        font-weight: 400;
        color: theme.$text-muted;
      }
    }
  }
}
