$bar-border-enabled: true;
$bar-border-radius: 16px;
$bar-border-width: 4px;
$bar-buttons-hover_opacity: 90;
$bar-buttons-margin_x: 0;
$bar-buttons-margin_y: 1.25em;
$bar-buttons-opacity: 100;
$bar-buttons-padding_x: 0;
$bar-buttons-padding_y: 1.25em;
$bar-buttons-scaling: 100;
$bar-buttons-shadow-blur: 0;
$bar-buttons-shadow-enabled: false;
$bar-buttons-shadow-offset: 0;
$bar-buttons-shadow-opacity: 100;
$bar-buttons-shadow-spread: 0;
$bar-margin_x: 0;
$bar-margin_y: 1.25em;
$bar-menus-border-enabled: false;
$bar-menus-border-radius: 16px;
$bar-menus-border-width: 1px;
$bar-menus-opacity: 100;
$bar-menus-popover-border-enabled: false;
$bar-menus-popover-border-radius: 1.5em;
$bar-menus-popover-border-width: 1px;
$bar-menus-popover-font-weight: 700;
$bar-menus-popover-margin_x: 0;
$bar-menus-popover-margin_y: 1.25em;
$bar-menus-popover-opacity: 100;
$bar-menus-popover-padding_x: 0.5em;
$bar-menus-popover-padding_y: 0.5em;
$bar-menus-popover-scaling: 100;
$bar-menus-popover-shadow-blur: 0;
$bar-menus-popover-shadow-enabled: false;
$bar-menus-popover-shadow-offset: 0;
$bar-menus-popover-shadow-opacity: 100;
$bar-menus-popover-shadow-spread: 0;
$bar-menus-scaling: 100;
$bar-menus-tooltip-border-enabled: false;
$bar-menus-tooltip-border-radius: 1em;
$bar-menus-tooltip-border-width: 1px;
$bar-menus-tooltip-font-weight: 700;
$bar-menus-tooltip-opacity: 100;
$bar-menus-tooltip-padding_x: 0.25em;
$bar-menus-tooltip-padding_y: 0.125em;
$bar-menus-tooltip-scaling: 100;
$bar-menus-tooltip-shadow-blur: 0;
$bar-menus-tooltip-shadow-enabled: false;
$bar-menus-tooltip-shadow-offset: 0;
$bar-menus-tooltip-shadow-opacity: 100;
$bar-menus-tooltip-shadow-spread: 0;
$bar-opacity: 10;
$bar-padding_x: 0.8em;
$bar-padding_y: 0.6em;
$bar-scaling: 100;
$bar-shadow-blur: 0;
$bar-shadow-enabled: false;
$bar-shadow-offset: 0;
$bar-shadow-opacity: 100;
$bar-shadow-spread: 0;
$bar-style-panel: default;
$bar-style-widget: default;
$bar-widgets-battery-border-enabled: false;
$bar-widgets-battery-border-radius: 16px;
$bar-widgets-battery-border-width: 1px;
$bar-widgets-battery-icon_size: 14px;
$bar-widgets-battery-spacing: 0.125em;
$bar-widgets-bluetooth-border-enabled: false;
$bar-widgets-bluetooth-border-radius: 16px;
$bar-widgets-bluetooth-border-width: 1px;
$bar-widgets-bluetooth-icon_size: 12px;
$bar-widgets-bluetooth-spacing: 0.125em;
$bar-widgets-brightness-border-enabled: false;
$bar-widgets-brightness-border-radius: 16px;
$bar-widgets-brightness-border-width: 1px;
$bar-widgets-brightness-icon_size: 12px;
$bar-widgets-brightness-spacing: 0.25em;
$bar-widgets-cava-border-enabled: false;
$bar-widgets-cava-border-radius: 16px;
$bar-widgets-cava-border-width: 1px;
$bar-widgets-cava-spacing: 0.125em;
$bar-widgets-cheatsheet-border-enabled: false;
$bar-widgets-cheatsheet-border-radius: 16px;
$bar-widgets-cheatsheet-border-width: 1px;
$bar-widgets-cheatsheet-icon_size: 12px;
$bar-widgets-cheatsheet-spacing: 0.125em;
$bar-widgets-click_counter-border-enabled: false;
$bar-widgets-click_counter-border-radius: 16px;
$bar-widgets-click_counter-border-width: 1px;
$bar-widgets-click_counter-icon_size: 14px;
$bar-widgets-click_counter-spacing: 0.125em;
$bar-widgets-clipboard-border-enabled: false;
$bar-widgets-clipboard-border-radius: 16px;
$bar-widgets-clipboard-border-width: 1px;
$bar-widgets-clipboard-icon_size: 12px;
$bar-widgets-clipboard-spacing: 0.125em;
$bar-widgets-cloudflare_warp-border-enabled: false;
$bar-widgets-cloudflare_warp-border-radius: 16px;
$bar-widgets-cloudflare_warp-border-width: 1px;
$bar-widgets-cloudflare_warp-icon_size: 12px;
$bar-widgets-cloudflare_warp-spacing: 0.125em;
$bar-widgets-cpu-border-enabled: false;
$bar-widgets-cpu-border-radius: 16px;
$bar-widgets-cpu-border-width: 1px;
$bar-widgets-cpu-icon_size: 12px;
$bar-widgets-cpu-spacing: 0.125em;
$bar-widgets-custom_button-border-enabled: false;
$bar-widgets-custom_button-border-radius: 16px;
$bar-widgets-custom_button-border-width: 1px;
$bar-widgets-custom_button-icon_size: 12px;
$bar-widgets-custom_button-spacing: 0.125em;
$bar-widgets-custom_widget-border-enabled: false;
$bar-widgets-custom_widget-border-radius: 16px;
$bar-widgets-custom_widget-border-width: 1px;
$bar-widgets-custom_widget-icon_size: 12px;
$bar-widgets-custom_widget-spacing: 0.125em;
$bar-widgets-date_time-border-enabled: false;
$bar-widgets-date_time-border-radius: 16px;
$bar-widgets-date_time-border-width: 1px;
$bar-widgets-date_time-icon_size: 12px;
$bar-widgets-date_time-spacing: 0.125em;
$bar-widgets-divider-margin_x: 0;
$bar-widgets-divider-margin_y: 1.25em;
$bar-widgets-divider-size:  2px;
$bar-widgets-dns_switcher-border-enabled: false;
$bar-widgets-dns_switcher-border-radius: 16px;
$bar-widgets-dns_switcher-border-width: 1px;
$bar-widgets-dns_switcher-icon_size: 12px;
$bar-widgets-dns_switcher-spacing: 0.125em;
$bar-widgets-emoji_picker-border-enabled: false;
$bar-widgets-emoji_picker-border-radius: 16px;
$bar-widgets-emoji_picker-border-width: 1px;
$bar-widgets-emoji_picker-icon_size: 12px;
$bar-widgets-emoji_picker-spacing: 0.125em;
$bar-widgets-gap: 2px;
$bar-widgets-github_tray-border-enabled: false;
$bar-widgets-github_tray-border-radius: 16px;
$bar-widgets-github_tray-border-width: 1px;
$bar-widgets-github_tray-icon_size: 16px;
$bar-widgets-github_tray-spacing: 0.125em;
$bar-widgets-hypridle-border-enabled: false;
$bar-widgets-hypridle-border-radius: 16px;
$bar-widgets-hypridle-border-width: 1px;
$bar-widgets-hypridle-icon_size: 14px;
$bar-widgets-hypridle-spacing: 0.125em;
$bar-widgets-hyprpicker-border-enabled: false;
$bar-widgets-hyprpicker-border-radius: 16px;
$bar-widgets-hyprpicker-border-width: 1px;
$bar-widgets-hyprpicker-icon_size: 14px;
$bar-widgets-hyprpicker-spacing: 0.125em;
$bar-widgets-hyprsunset-border-enabled: false;
$bar-widgets-hyprsunset-border-radius: 16px;
$bar-widgets-hyprsunset-border-width: 1px;
$bar-widgets-hyprsunset-icon_size: 14px;
$bar-widgets-hyprsunset-spacing: 0.125em;
$bar-widgets-ip_monitor-border-enabled: false;
$bar-widgets-ip_monitor-border-radius: 16px;
$bar-widgets-ip_monitor-border-width: 1px;
$bar-widgets-ip_monitor-icon_size: 14px;
$bar-widgets-ip_monitor-spacing: 0.125em;
$bar-widgets-kanban-border-enabled: false;
$bar-widgets-kanban-border-radius: 16px;
$bar-widgets-kanban-border-width: 1px;
$bar-widgets-kanban-icon_size: 12px;
$bar-widgets-kanban-spacing: 0.125em;
$bar-widgets-keyboard-border-enabled: false;
$bar-widgets-keyboard-border-radius: 16px;
$bar-widgets-keyboard-border-width: 1px;
$bar-widgets-keyboard-icon_size: 14px;
$bar-widgets-keyboard-spacing: 0.125em;
$bar-widgets-language-border-enabled: false;
$bar-widgets-language-border-radius: 16px;
$bar-widgets-language-border-width: 1px;
$bar-widgets-language-icon_size: 14px;
$bar-widgets-language-spacing: 0.125em;
$bar-widgets-launcher_button-border-enabled: false;
$bar-widgets-launcher_button-border-radius: 16px;
$bar-widgets-launcher_button-border-width: 1px;
$bar-widgets-launcher_button-icon_size: 12px;
$bar-widgets-launcher_button-spacing: 0.125em;
$bar-widgets-memory-border-enabled: false;
$bar-widgets-memory-border-radius: 16px;
$bar-widgets-memory-border-width: 1px;
$bar-widgets-memory-icon_size: 14px;
$bar-widgets-memory-spacing: 0.125em;
$bar-widgets-microphone-border-enabled: false;
$bar-widgets-microphone-border-radius: 16px;
$bar-widgets-microphone-border-width: 1px;
$bar-widgets-microphone-icon_size: 14px;
$bar-widgets-microphone-spacing: 0.125em;
$bar-widgets-mpris-border-enabled: false;
$bar-widgets-mpris-border-radius: 16px;
$bar-widgets-mpris-border-width: 1px;
$bar-widgets-mpris-icon_size: 14px;
$bar-widgets-mpris-spacing: 0.125em;
$bar-widgets-network_usage-border-enabled: false;
$bar-widgets-network_usage-border-radius: 16px;
$bar-widgets-network_usage-border-width: 1px;
$bar-widgets-network_usage-icon_size: 14px;
$bar-widgets-network_usage-spacing: 0.125em;
$bar-widgets-ocr-border-enabled: false;
$bar-widgets-ocr-border-radius: 16px;
$bar-widgets-ocr-border-width: 1px;
$bar-widgets-ocr-icon_size: 14px;
$bar-widgets-ocr-spacing: 0.125em;
$bar-widgets-overview-border-enabled: false;
$bar-widgets-overview-border-radius: 16px;
$bar-widgets-overview-border-width: 1px;
$bar-widgets-overview-icon_size: 14px;
$bar-widgets-overview-spacing: 0.125em;
$bar-widgets-pomodoro-border-enabled: false;
$bar-widgets-pomodoro-border-radius: 16px;
$bar-widgets-pomodoro-border-width: 1px;
$bar-widgets-pomodoro-icon_size: 12px;
$bar-widgets-pomodoro-spacing: 0.125em;
$bar-widgets-power-border-enabled: false;
$bar-widgets-power-border-radius: 16px;
$bar-widgets-power-border-width: 1px;
$bar-widgets-power-icon_size: 14px;
$bar-widgets-power-spacing: 0.125em;
$bar-widgets-quick_settings-border-enabled: false;
$bar-widgets-quick_settings-border-radius: 16px;
$bar-widgets-quick_settings-border-width: 1px;
$bar-widgets-quick_settings-icon_size: 15px;
$bar-widgets-quick_settings-sliders-height: 7px;
$bar-widgets-quick_settings-sliders-knob: true;
$bar-widgets-quick_settings-sliders-knob_height: 8px;
$bar-widgets-quick_settings-spacing: 0.125em;
$bar-widgets-recorder-border-enabled: false;
$bar-widgets-recorder-border-radius: 16px;
$bar-widgets-recorder-border-width: 1px;
$bar-widgets-recorder-icon_size: 14px;
$bar-widgets-recorder-spacing: 0.125em;
$bar-widgets-screenshot-border-enabled: false;
$bar-widgets-screenshot-border-radius: 16px;
$bar-widgets-screenshot-border-width: 1px;
$bar-widgets-screenshot-icon_size: 14px;
$bar-widgets-screenshot-spacing: 0.125em;
$bar-widgets-spacing-size:  20px;
$bar-widgets-stopwatch-border-enabled: false;
$bar-widgets-stopwatch-border-radius: 16px;
$bar-widgets-stopwatch-border-width: 1px;
$bar-widgets-stopwatch-icon_size: 14px;
$bar-widgets-stopwatch-spacing: 0.125em;
$bar-widgets-storage-border-enabled: false;
$bar-widgets-storage-border-radius: 16px;
$bar-widgets-storage-border-width: 1px;
$bar-widgets-storage-icon_size: 14px;
$bar-widgets-storage-spacing: 0.125em;
$bar-widgets-submap-border-enabled: false;
$bar-widgets-submap-border-radius: 16px;
$bar-widgets-submap-border-width: 1px;
$bar-widgets-submap-icon_size: 14px;
$bar-widgets-submap-spacing: 0.125em;
$bar-widgets-system_tray-border-enabled: false;
$bar-widgets-system_tray-border-radius: 16px;
$bar-widgets-system_tray-border-width: 1px;
$bar-widgets-system_tray-spacing: 0.65em;
$bar-widgets-taskbar-border-enabled: false;
$bar-widgets-taskbar-border-radius: 16px;
$bar-widgets-taskbar-border-width: 1px;
$bar-widgets-taskbar-spacing: 0.125em;
$bar-widgets-theme-border-enabled: false;
$bar-widgets-theme-border-radius: 16px;
$bar-widgets-theme-border-width: 1px;
$bar-widgets-theme-icon_size: 14px;
$bar-widgets-theme-spacing: 0.125em;
$bar-widgets-updates-border-enabled: false;
$bar-widgets-updates-border-radius: 16px;
$bar-widgets-updates-border-width: 1px;
$bar-widgets-updates-icon_size: 14px;
$bar-widgets-updates-spacing: 0.125em;
$bar-widgets-usb_manager-border-enabled: false;
$bar-widgets-usb_manager-border-radius: 16px;
$bar-widgets-usb_manager-border-width: 1px;
$bar-widgets-usb_manager-icon_size: 14px;
$bar-widgets-usb_manager-spacing: 0.125em;
$bar-widgets-volume-border-enabled: false;
$bar-widgets-volume-border-radius: 16px;
$bar-widgets-volume-border-width: 1px;
$bar-widgets-volume-icon_size: 12px;
$bar-widgets-volume-spacing: 0.125em;
$bar-widgets-weather-border-enabled: false;
$bar-widgets-weather-border-radius: 16px;
$bar-widgets-weather-border-width: 1px;
$bar-widgets-weather-icon_size: 17px;
$bar-widgets-weather-spacing: 0.125em;
$bar-widgets-window_count-border-enabled: false;
$bar-widgets-window_count-border-radius: 16px;
$bar-widgets-window_count-border-width: 1px;
$bar-widgets-window_count-spacing: 0.125em;
$bar-widgets-window_title-border-enabled: false;
$bar-widgets-window_title-border-radius: 16px;
$bar-widgets-window_title-border-width: 1px;
$bar-widgets-window_title-icon_size: 14px;
$bar-widgets-window_title-spacing: 0.125em;
$bar-widgets-workspaces-border-enabled: false;
$bar-widgets-workspaces-border-radius: 16px;
$bar-widgets-workspaces-border-width: 1px;
$bar-widgets-workspaces-icon_size: 12px;
$bar-widgets-workspaces-pill-active_width: 1em;
$bar-widgets-workspaces-pill-border-enabled: false;
$bar-widgets-workspaces-pill-border-radius: 16px;
$bar-widgets-workspaces-pill-border-width: 2px;
$bar-widgets-workspaces-pill-height: 1px;
$bar-widgets-workspaces-pill-width: 0.5em;
$bar-widgets-workspaces-spacing: 0.125em;
$bar-widgets-world_clock-border-enabled: false;
$bar-widgets-world_clock-border-radius: 16px;
$bar-widgets-world_clock-border-width: 1px;
$bar-widgets-world_clock-icon_size: 12px;
$bar-widgets-world_clock-spacing: 0.125em;
$border-radius: 10px;
$border-width: 1px;
$font-name: JetBrainsMono Nerd Font Propo;
$font-size: 1rem;
$font-style: normal;
$font-weight: 600;
$mode: dark;
$modules-activate_linux-border-enabled: false;
$modules-activate_linux-border-radius: 16px;
$modules-activate_linux-border-width: 1px;
$modules-activate_linux-spacing: 0.125em;
$modules-desktop_clock-border-enabled: false;
$modules-desktop_clock-border-radius: 16px;
$modules-desktop_clock-border-width: 1px;
$modules-desktop_clock-spacing: 0.125em;
$modules-desktop_quotes-border-enabled: false;
$modules-desktop_quotes-border-radius: 16px;
$modules-desktop_quotes-border-width: 1px;
$modules-desktop_quotes-spacing: 0.125em;
$modules-dock-border-enabled: false;
$modules-dock-border-radius: 1.5rem;
$modules-dock-border-width: 1px;
$modules-dock-margin_x: 8px;
$modules-dock-margin_y: 8px;
$modules-dock-opacity: 10;
$modules-dock-padding_x: 8px;
$modules-dock-padding_y: 4px;
$modules-dock-scaling: 100;
$modules-dock-shadow-blur: 0;
$modules-dock-shadow-enabled: false;
$modules-dock-shadow-offset: 0;
$modules-dock-shadow-opacity: 100;
$modules-dock-shadow-spread: 0;
$modules-launcher-border-enabled: false;
$modules-launcher-border-radius: 1.5rem;
$modules-launcher-border-width: 1px;
$modules-launcher-margin_x: 8px;
$modules-launcher-margin_y: 8px;
$modules-launcher-opacity: 50;
$modules-launcher-padding_x: 8px;
$modules-launcher-padding_y: 8px;
$modules-launcher-scaling: 100;
$modules-launcher-shadow-blur: 0;
$modules-launcher-shadow-enabled: false;
$modules-launcher-shadow-offset: 0;
$modules-launcher-shadow-opacity: 100;
$modules-launcher-shadow-spread: 0;
$modules-notification-border-enabled: false;
$modules-notification-border-radius: 16px;
$modules-notification-border-width: 1px;
$modules-notification-margin_x: 0;
$modules-notification-margin_y: 1.25em;
$modules-notification-opacity: 100;
$modules-notification-padding_x: 0.9em;
$modules-notification-padding_y: 0.9em;
$modules-notification-scaling: 100;
$modules-notification-shadow-blur: 0;
$modules-notification-shadow-enabled: false;
$modules-notification-shadow-offset: 0;
$modules-notification-shadow-opacity: 100;
$modules-notification-shadow-spread: 0;
$modules-osd-border-enabled: false;
$modules-osd-border-radius: 25px;
$modules-osd-border-width: 1px;
$modules-osd-margin_x: 0;
$modules-osd-margin_y: 1.25em;
$modules-osd-opacity: 100;
$modules-osd-padding_x: 0.8em;
$modules-osd-padding_y: 0.6em;
$modules-osd-scaling: 100;
$modules-osd-shadow-blur: 0;
$modules-osd-shadow-enabled: false;
$modules-osd-shadow-offset: 0;
$modules-osd-shadow-opacity: 100;
$modules-osd-shadow-spread: 0;
$modules-osd-sliders-height: 7px;
$modules-osd-sliders-knob: false;
$modules-osd-sliders-knob_height: 8px;
$modules-osd-widget_style: default;
$padding: 7pt;
$spacing: 12pt;
$theme_name: catpuccin-mocha;
