$accent-blue: #89b4fa;
$accent-green: #a6e3a1;
$accent-lavender: #b4befe;
$accent-light: #f5e0dc;
$accent-light-blue: #89dceb;
$accent-orange: #fab387;
$accent-pink: #f5c2e7;
$accent-purple: #cba6f7;
$accent-red: #f38ba8;
$accent-teal: #94e2d5;
$accent-yellow: #f9e2af;
$background-alt: #181825;
$background-dark: #11111b;
$background-main: #1e1e2e;
$general-bar-background: rgb(36, 35, 35);
$general-shadow-color: rgba(0, 0, 0, 0.6);
$surface-disabled: #313244;
$surface-highlight: #585b70;
$surface-neutral: #45475a;
$surface-popover-border-color: rgba(29, 30, 40, 0.6);
$text-disabled: #6c7086;
$text-main: #cdd6f4;
$text-muted: #a6adc8;
$text-muted-dark: #9399b2;
$text-muted-light: #7f849c;
$text-secondary: #bac2de;
