@use "theme";
@use "sass:color";
@use "variable";
@use "common";


button.launcher-button {
  border-radius: variable.$radius-large;

  .launcher-list-item {
    padding: 8px 20px;
  }

  #icon {
    -gtk-icon-effect: highlight;
  }

  &:hover,
  &:focus {
    background-color: theme.$background;
  }

  &:focus {
    label {
      color: theme.$text-main;
    }
  }
}

#launcher-prompt {
  font-size: 12px;
}

#launcher {

  border: if(variable.$modules-app_launcher-border-enabled, variable.$border, none);
  border-width: variable.$modules-app_launcher-border-width;

  @include common.module-shadow(
    variable.$modules-app_launcher-shadow-enabled,
    variable.$modules-app_launcher-shadow-offset,
    variable.$modules-app_launcher-shadow-blur,
    variable.$modules-app_launcher-shadow-spread,
    variable.$modules-app_launcher-shadow-opacity
  );

  &-prompt {
    border-bottom: 1px solid theme.$surface-disabled;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  &-contents {
    border-radius: 15px;
    border: 0.5px solid theme.$surface-disabled;
    background-color: theme.$background-alt;
    padding: 10px;
    min-width: 600px;
  }

  &-close-button {
    border-radius: 15px;

    &:hover {
      background-color: theme.$accent-red;
    }
  }
}
