@use "variable";
@use "theme";


.panel-collapsible-group {
  background-color: theme.$background-dark;
  border-radius: variable.$radius-large;
  padding: 0.1em 0.9em;
  box-shadow: 0 0 0 variable.$border-width theme.$shadow-color;

  .panel-button {
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .panel-module-group {
    border: none;
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .panel-font-icon {
    font-size: 22px;
  }

  &.compact .panel-font-icon {
    font-size: 20px;
  }
}

#collapsible_group {
  &.active {
    background: theme.$accent-blue;
    color: theme.$text-main;
  }

  &:hover {
    background: theme.$surface-highlight;
  }
}
