@use "sass:color";
@use "theme";
@use "common";
@use "variable";

/* OSD widget*/

#osd-container {
  background-color: theme.$shadow-color;
  padding: common.toEm(12) common.toEm(20);
  margin-bottom: 100px;
  opacity: variable.$modules-osd-opacity * 0.01;
  border: if(variable.$modules-osd-border-enabled, variable.$border, none);
  border-width: variable.$modules-osd-border-width;

  @include common.module-shadow(
    variable.$modules-osd-shadow-enabled,
    variable.$modules-osd-shadow-offset,
    variable.$modules-osd-shadow-blur,
    variable.$modules-osd-shadow-spread,
    variable.$modules-osd-shadow-opacity
  );

  @include common.widget_style(variable.$modules-osd-widget_style);

  #osd-level {
    font-weight: 600;
    min-width: 35px;
    padding-left: common.toEm(5);
  }

  .overamplified trough highlight {
    background-color: theme.$accent-red;
  }

  .muted trough highlight, .muted slider {
    background-color: theme.$surface-disabled;
  }


  @include common.slider($knob: variable.$modules-osd-sliders-knob, $min-length: 150px, $height: variable.$modules-osd-sliders-height);


}

#osd-container.vertical {
  padding: common.toEm(20) common.toEm(12);
}
