@use "sass:color";
@use "theme";
@use "common";
@use "variable";


#power-menu-overlay {
  background: rgba(0, 0, 0, 0.4);
}

#power {
  border-radius: variable.$bar-widgets-power-border-radius;
  border: if(variable.$bar-widgets-power-border-enabled, variable.$border, none);
  border-width: variable.$bar-widgets-power-border-width;


  #nerd-icon.panel-font-icon {
    font-size: variable.$bar-widgets-power-icon_size;
  }
}

#power-button-menu {
  background-color: theme.$background;
  box-shadow: -2px 2px 10px 4px rgba(0, 0, 0, 0.75);
}

#power-control-button {
  border-radius: 0;
  text-decoration-color: theme.$text-main;
  color: theme.$text-main;
  background-color: #1E1E1E;
  background-repeat: no-repeat;
  background-position: center;

  .power-button-container {
    padding: common.toEm(80) common.toEm(120);
  }

  label {
    margin-top: 10px;
    font-size: 14px;
  }

  &:focus,
  &:active,
  &:hover {
    border-color: theme.$text-secondary;
    border-style: solid;
    border-width: 1px;
    background-color: #19191a;
    outline-style: none;
    color: theme.$text-secondary;

  }
}
