@use "theme";
@use "common";
@use "variable";
@use "sass:color";

$workspace-transition:
  padding 0.3s cubic-bezier(0.4, 0, 0.2, 1),
  background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);

/** workspace switcher widget */

#workspaces {
  @include common.nerd-icon(
    variable.$bar-widgets-workspaces-icon_size,
    variable.$bar-widgets-workspaces-spacing
  );

  #workspaces_widget {
    font-weight: 700;

    @include common.widget_border(
      variable.$bar-widgets-workspaces-border-radius,
      variable.$bar-widgets-workspaces-border-enabled,
      variable.$bar-widgets-workspaces-border-width
    );

    & > button {
      padding: variable.$bar-widgets-workspaces-pill-height
        variable.$bar-widgets-workspaces-pill-width;
      transition: $workspace-transition;
      border-radius: variable.$radius-large;
      background-color: color.adjust(theme.$accent-orange, $alpha: -0.2);

      label {
        color: theme.$background-dark;
        transition: inherit;
      }

      &:hover {
        background-color: theme.$accent-teal;

        label {
          color: theme.$background-dark;
        }
      }

      &.active {
        font-weight: 600;
        min-width: 1.4rem;
        transition: $workspace-transition;
        padding-left: variable.$bar-widgets-workspaces-pill-active_width;
        padding-right: variable.$bar-widgets-workspaces-pill-active_width;
        border: if(variable.$bar-widgets-workspaces-pill-border-enabled, variable.$border, none);
        border-radius: variable.$bar-widgets-workspaces-pill-border-radius;
        border-width: variable.$bar-widgets-workspaces-pill-border-width;
        background-color: theme.$accent-purple;

        label {
          color: theme.$background-dark;
        }
      }
    }
  }

  .pill {
    padding: 0.4em 1em;
  }

  .numbered {
    padding: 0.19em 1em;
  }

  .icon {
    padding: 0.4em;
  }
}
